<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tp.shop.mapper.java.OrderMapper">
  	<insert id="addOrder" parameterType="order" useGeneratedKeys="true" keyProperty="orderNo" >
  	insert into orderdb(order_no, user_id, user_name, resp_name, resp_address, resp_phone, resp_msg, total_price) values(0,#{userId},#{userName},#{respName},#{respAddress},#{respPhone},#{respMsg},#{totalPrice})
  	</insert>
	  
	  <select id="selectProdByCartNoList" parameterType="int" resultType="Product">
	  
	  select * from product join cart on product.prod_no = cart.prod_no 
	  where cart_no = #{cartNo}
	  
	  </select>
	  
	  <insert id="addOrderProd" parameterType="HashMap">
	  insert into order_prod(order_no,prod_no,count,order_status) values(#{orderNo},#{prodNo},#{countEachProd},#{status})
	  </insert>
	  
	  <update id="updateUserMoney" parameterType="order" >
		update user set money = money-#{totalPrice} where user_id = #{userId}
	  </update>
	  
	  <insert id="insertAccountInfo" parameterType="order">
	  	insert into account(user_id,money) values(#{userId}, #{totalPrice})
	  </insert>
	  
	  <select id="selectProdByProdNoList" parameterType="Integer" resultType="Product">
	  select * from product where prod_no=#{prodNo}
	  </select>
		  
  </mapper>